/te_mysql_password
/*.sql
/volumes/mariadb-data/*
!/volumes/mariadb-data/.keep
/volumes/topicexplorer_webapps/*
!/volumes/topicexplorer_webapps/.keep
/volumes/topicexplorer_te_production_projects/*
!/volumes/topicexplorer_te_production_projects/.keep
/volumes/topicexplorer_te_production_helper_tmp/*
!/volumes/topicexplorer_te_production_helper_tmp/.keep
/volumes/topicexplorer_te_production_helper_config/*
!/volumes/topicexplorer_te_production_helper_config/.keep
/volumes/jobson-server-jobs/*
!/volumes/jobson-server-jobs/.keep
/volumes/jobson-server-wds/*
!/volumes/jobson-wds/.keep
/volumes/input-corpora/text/*
!/volumes/input-corpora/text/.keep
/volumes/input-corpora/pdf/*
!/volumes/input-corpora/pdf/.keep
